<ion-content>
  <ion-row>
    <div class="back-ground">
    </div>
  </ion-row>
  <div padding>
    <ion-segment [(ngModel)]="food">
      <ion-segment-button value="Meats">
        Meats
      </ion-segment-button>
      <ion-segment-button value="Seafood">
        Fish
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Cards -->
  <div *ngIf="!loading" [ngSwitch]="food">
    <div *ngFor="let singleCat of data">
      <div *ngIf="singleCat.name == 'Meats'">
        <ion-list *ngSwitchCase="'Meats'">
          <div *ngFor="let product of singleCat.products">
            <ion-card>
              <img (click)="cardClicked(product);" [src]="product.product_img"/>
              <ion-card-content class="col-md-6">
                <ion-card-title>
                  {{product.name}}
                  </ion-card-title>
                  <span class="block">
                    {{product.weight}}
                    </span>
                    <span>
                      {{product.price}}
                    </span>
                  <ion-buttons end (click)="toggleAdded()">
                    <button class="icon-button" ion-button icon-end icon-only>
                      <ion-icon [name]="added ? 'ios-add-circle-outline' : 'ios-checkmark-circle'"></ion-icon>
                    </button>
                  </ion-buttons>
              </ion-card-content>
            </ion-card>
           </div>
        </ion-list>
      </div>
      <div *ngIf="singleCat.name == 'Seafood'">
        <ion-list *ngSwitchCase="'Seafood'">
          <div *ngFor="let product of singleCat.products">
            <ion-card>
              <img (click)="cardClicked(product);" [src]="product.product_img"/>
              <ion-card-content class="col-md-6">
                <ion-card-title>
                  {{product.name}}
                  </ion-card-title>
                  <span class="block">
                    {{product.weight}}
                    </span>
                    <span>
                      {{product.price}}
                    </span>
                  <ion-buttons end (click)="toggleAdded()">
                    <button class="icon-button" ion-button icon-end icon-only>
                      <ion-icon [name]="added ? 'ios-add-circle-outline' : 'ios-checkmark-circle'"></ion-icon>
                    </button>
                  </ion-buttons>
              </ion-card-content>
            </ion-card>
           </div>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
    <ion-footer>
      <ion-row>
        <ion-col  col-6>
          <button class="footer-buttons">
            Sort by
          </button>
        </ion-col>
        <ion-col col-6>
          <button class="footer-buttons">
            Filter
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>