<ion-content>
  <ion-row>
    <div class="back-ground">
    </div>
  </ion-row>
    <div padding>
      <ion-segment [(ngModel)]="food">
        <ion-segment-button value="Meats">
          Meats
        </ion-segment-button>
        <ion-segment-button value="Seafood">
          Fish
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Meat -->
    <div *ngIf="!loading" [ngSwitch]="food">
       <div *ngFor="let singleCat of data">
         <div *ngIf="singleCat.name == 'Meats'">
           <ion-row *ngSwitchCase=" 'Meats'">
             <div *ngFor="let products of singleCat.products">
               <ion-col col-md-6 margin>
                 {{products.name}}
                 <img src='../../assets/imgs/meatfive.jpg'>
                 <!-- <ion-img [src]="products.product_img"></ion-img> -->
               </ion-col>
             </div>
           </ion-row>
         </div>

         <!-- fish -->
         <div *ngIf="singleCat.name == 'Seafood'">
          <ion-row *ngSwitchCase=" 'Seafood'">
            <div *ngFor="let products of singleCat.products">
              <ion-col col-6> 
                {{products.name}}
                <ion-img [src]="products.product_img"></ion-img>
              </ion-col>
            </div>
          </ion-row>
        </div>
        </div>
    </div>
    <!-- 
      
       
          <ion-row *ngSwitchCase=" 'Meats'">
            <ion-col col-6>
              {{category.name}}
              <img src="../../assets/imgs/meatone.jpg">
            </ion-col>
          </ion-row>
        </div>
      </div> -->
      <!--Fish-->
      <!-- <div *ngSwitchCase=" 'fish' ">
  
      </div> -->
    <!-- </div> -->
</ion-content>