page-categories {
    .food-one{
        background-image: url('../../assets/imgs/foodOne.jpg');
    }
    .food-two{
        background-image: url('../../assets/imgs/foodTwo.jpg');
    }
    .slider-image{
        background-size: cover;
        width: 100%;
        margin: 1%;
    }
  
    .title{
        color: white !important;
        float: left;
        padding-left: 4%;
    }
    img{
        border-radius: 3px;

    }
}